.jumbotron {
        background: #26a888;
        text-align: center;
}
.navbar {
        margin-bottom: 0;
}
.glyphicon-large {
    	font-size: 70px;
    
}
.centerdesk {
        margin-top: 125px;
	text-align: center;
}
