.jumbotron {
        background: #26a888;
        text-align: center;
}
.navbar {
        margin-bottom: 0;
}
.glyphicon-large {
    	font-size: 70px;
    
}
.centerdesk {
        margin-top: 75px;
	text-align: center;
}

.panel-default > .panel-heading-custom {
        background: #26a888;
}
.panel-default > .panel-body-custom {
        background: #26a888;
}
.panel-default > .panel-footer-custom {
        background: #26a888;
        text-align: right;
}
