body {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.7em;
    font-family: Arial;
    background-color: yellow;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h1 a {
    color: mediumseagreen;
}

ul {
    padding: 0;
    overflow: hidden;
    border-radius: 0.5em;
    list-style-type: none;
    background-color: darkslategray;
}

ul li p {
    color: white;
    padding-left: 0.5em;
}

li {
    float: left;
}

li a {
    color: white;
    display: block;
    padding: 1em 1em;
    font-weight: bold;
    text-align: center;
}

li a:hover {
    background-color: black;
}

table, th, td {
	border-spacing: 0;
        font-weight: bold;
	text-align: center;
	border: 1px solid black;
}

table {
    margin: auto;
}